<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Currency converter</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="nav">
      <button type="button" class="switch-theme">SWITCH THEME</button>
    </nav>
    <main>
      <div class="container">
        <h1>Convert Currency</h1>
        <form class="form" action="/" method="post">
          <div class="form-element">
            <label for="amount">Amount:</label>
            <input type="number" id="amount" />
          </div>

          <div class="form-element">
            <label for="from">From:</label>
            <select name="currencies" id="from">
              <% keys.forEach((key, index) => { %>
              <option value="<%= key %>">
                <%= `${key} - ${result[key]}` %>
              </option>
              <% }); %>
              <!-- <option value="eur">EUR</option>
              <option value="usd">USD</option>
              <option value="gbp">GBP</option>
              <option value="pln">PLN</option> -->
            </select>
          </div>

          <button type="button" class="swap-currencies-btn">
            <ion-icon
              class="swap-currencies-icon"
              name="swap-vertical-outline"
            ></ion-icon>
          </button>

          <div class="form-element">
            <label for="to">To:</label>
            <select name="currencies" id="to">
              <!-- loop through an object -->
              <% keys.forEach((key, index) => { %>
              <option value="<%= key %>">
                <%= `${key} - ${result[key]}` %>
              </option>
              <% }); %>
            </select>
          </div>

          <button type="submit">Convert</button>
        </form>

        <p>1.00 British Pound =</p>
        <p>1.258935 US Dollars</p>
        <p>1 USD = 0.794322 GBP</p>
      </div>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
